body
{
    color: cornflowerblue;
}

.header, .middle, .footer
{
    background-image: none;
    background-color: rgb(30, 30, 30);
}
h4
{
    color: white;
}

a
{
    color: rgb(100,100,255);
}

.jsText
{
    color:cornflowerblue;
}

.linksTable
{
    background-color: rgb(60, 60, 60);
}

.linksTable th
{
	background-color: rgb(40, 40, 40);
}