@font-face 
{
    font-family: PermanentMarker;
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

h1 
{
	font-family: PermanentMarker;
    font-size: 50px;
    line-height: 0px;
    text-shadow: 2px 2px 5px lightblue;
}

.header
{
	position: absolute; 
	top: 5px;
	width: 80vw;
	left: 10vw;
	height: 75px;
	background-image: linear-gradient(dimgray,darkgray);
	border-style: outset;
	border-radius: 10px;
	text-align: center;
	box-shadow: 4px 2px gray;
}

.linkedInTooltip 
{
	position: absolute;
	left: 30px;
	top: 18px;
}
  
.linkedInTooltip .linkedInTooltiptext 
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	left: 60px;
	top: 0px;
	z-index: 1;
}

.linkedInTooltip:hover .linkedInTooltiptext 
{
	visibility: visible;
}

.settingsTooltip 
{
	position: absolute;
	right: 30px;
	top: 15px;
 }
  
.settingsTooltip .settingsTooltiptext 
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	right: 60px;
	top: 0px;
	z-index: 1;
}
  
.settingsTooltip:hover .settingsTooltiptext 
{
	visibility: visible;
}

#settingsBox
{
	visibility: hidden;
	width: 200px;
	position: absolute;
	right: 5px;
	top: 75px;
	border-style: solid;
	border-radius: 6px;
	z-index: 1;
	background-color: lightBlue;
	color: black;
}

  #smTitle
{
	  font-size: 1.1rem;
	  color: blue;
	  padding-top: 5px;
}

.settingsCloseMsg
{
	font-size: 10px;
	font-weight: bold;
}