#popUpBox
{
	position: absolute;
	background-color: linen;
	border-radius: 25px;
	border: 3px solid mediumblue;
	padding: 20px;
	text-align: center;
	width: 350px;
	height: 500px;	
	right: calc(50% - 175px);
	top: calc(50% - 250px);
    /* transform: translate(-50%, -50%); */
	visibility: hidden;
	z-index: 2;
}

#popUpBox h4
{
    color:red;
	line-height: 1.3px;
	padding-top: 0px;
}
#closePopUp
{
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;
}